<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AxiomProfiler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AxiomProfiler.Properties.Settings>
            <setting name="LogFile" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColors" serializeAs="String">
                <value />
            </setting>
            <setting name="LargeTextMode" serializeAs="String">
                <value>False</value>
            </setting>
        </AxiomProfiler.Properties.Settings>
    </userSettings>
</configuration>